*{
    font-family: "Azeret Mono", monospace;
}
/* Shared styles */
/* overall */
.all-text{
    text-align: center;
}

/* used in main sections */
.development-paragraph{
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 1);
    opacity: 70%;
}

.sub-section-1{
    width: 946px;
    height: 219px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
}

.sub-section-text{
    width: 477px;
    height: 219px;
    margin-left: 32px;
}

.sub-section-title{
    color: rgba(13, 19, 33, 0.7);
}

.sub-section-paragraph{
    margin-top: 16px;
    margin-bottom: 32px;
}

.layer-one-img{
    width: 274.17px;
    height: 240px;
}

.sub-section-btn{
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    color: rgba(13, 19, 33, 1);
    padding: 12px 20px 12px 20px;
    border: 0.5px solid black;
    cursor: pointer;
}



/* header section */ 

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}

.name{
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
}

.btn-resume{
    padding: 17px 24px 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    cursor: pointer;
}


/* main section */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* banner section */
.banner-section{
    height: 652px;
    width: 100%;
    background-image: url('../assets/Hero-bg.png');
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-title{
    font-size: 48px;
    font-weight: 800;
    margin-top: 32px;
    margin-bottom: 24px;
}
.banner-paragraph{
    font-size: 16px;
    font-weight: 400;
    color: rgba(13, 19, 33, 1);
    opacity: 70%;
}
.banner-btn{
    background-color: #0D1321;
    color: white;
    padding: 21px 21px 24px 24px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 45px;
    cursor: pointer;
}

.boy-image{
    margin-top: 26px;
}

/* Second section-why web development  */

.web-development{
    width: 1140px;
    height: 1150px;
    background-color: rgba(13, 19, 33, 0.02);
    margin: 74px 0px auto;
    border-radius: 16px;
}

.web-dev-container{
    width: 946px;
    height: 1206px;
    margin: 80px 97px 80px 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web-dev-title{
    font-weight: 800;
    font-size: 32px;
}

.sub-section-2{
    margin-top: 32px;
    width: 946px;
    height: 219px;
    background-color: white;
    border-radius: 16px;
    display: flex;
    align-items: center;
}

/*my inspiration section*/
.my-inspiration{
    height: 775px;
    width: 1140px;
    margin-top: 117px;
}
.video > iframe{
    width: 1076px;
    height: 550px;
    margin: 32px;
}
.video{
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 16px;
}
.inspiration-title{
    margin-top: 0px;
}

/*Current target section design*/
.current-target-section{
    width: 1140px;
    height: 460px;
    margin-top: 111px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.current-target > h1{
    margin-top: 0px;
}
.skills{
    width: 1140px;
    height: 299px;
    display: flex;
    gap: 24px;
}
.html-section{
    width: 364px;
    height: 100%;
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.html{
    height: 219px;
    width: 284px;
}
.html-title{
    margin-bottom: 8px;
    margin-top: 24px;
}
.html-description{
    margin-bottom: 24px;
}
.learn-more{
    font-size: 16px;
    font-weight: bold;
}
.css-section{
    background-color: rgba(0, 76, 232, 0.05);
    width: 364px;
    height: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.javascript-section{
    width: 364px;
    height: 100%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 223, 0, 0.05);
}

/* need support section design */
.need-support-section{
    width: 1140px;
    height: 313px;
    margin-top: 49px;
    border-radius: 16px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('../assets/handshake.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.support-title{
    font-size: 32px;
    font-weight: bold;
    color: white;
}
.support-paragraph{
    color: white;
}
#input{
    width: 548px;
    height: 57px;
    border: none;
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}
#input::placeholder{
    position: absolute;
    left: 20px;
    
}
#submit{
    height: 57px;
    width: 120px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    cursor: pointer;
}
.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/*footer design */
footer{
    width: 100%;
    height: 100px;
    background-color: rgba(13, 19, 33, 0.03);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
footer > h3{
    font-size: 20px;
    font-weight: 600;
}
.logos{
    width: 157.01px;
    height: 36px;
    gap: 24px;
    display: flex;
}




